

    body {
      font-family: 'Montserrat', sans-serif;
    }

    .form-group label {
      font-weight: 600;
      color: dodgerblue;
    }

    .form-group input {
      border: 1px solid black;
    }

    .form-group textarea {
      border: 1px solid black;
    }

    .hero {
      background-image: url("https://images.unsplash.com/photo-1662572498410-cd3de49404ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
      background-size: cover;
    }

    .nav-link {
      color: white;
      font-weight: 700;
    }

    .nav-link:hover {
      color: dodgerblue;
      border-bottom: 1px solid white;
    }

    .deskripsi-singkat-jasa {
      text-align: justify;
    }

    .card-image-buatan {
      border-radius: 10px 10px 10px 10px;
      padding-bottom: 20px;
      box-shadow: 2px 7px 15px gray;
    }

    .card-image-buatan img {
      border-radius: 10px 10px 0px 0px;
    }

    .judul-jasa {
      font-size: 30px;
      font-weight: 700;
    }

    .nama-team {
      padding-top: 10px;
      font-size: 20px;
      text-align: center;
      font-weight: 600;
    }

    .jabatan-team {
      text-align: center;
      color: gray;
      font-weight: 500;
    }

    .card .card-body-jasa {
      padding: 20px;
      box-shadow: 2px 7px 15px gray;
    }

    .card .card-body-jasa:hover {
      background-color: dodgerblue;
      color: white;
    }

    .nav-item {
      padding-left: 20px;
    }

    .judul-title {
      font-size: 30px;
    }

    .deskripsi-title {
      padding-top: 20px;
      font-size: 20px;
      padding-bottom: 50px;
    }

    .button-kirim {
      background-color: dodgerblue;
      width: 100%;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 10px;
      color: white;
      font-weight: 700;
    }

    .button-kirim:hover {
      background-color: blue;
    }

    .teks-pesan {
      font-size: 20px;
    }

    .icon {
      width: 100%;
      border-radius: 50%;
    }

    .testimoni {
      background: linear-gradient(to right, cyan, #1cb5e0);
    }

    .indikator > .active {
      background-color: gray;
    }

    .card-image-portfolio {
      background-color: white;
      padding-bottom: 30px;
      box-shadow: 2px 7px 15px gray;
      border-radius: 0px 0px 10px 10px;
    }

    .judul-image-portfolio {
      font-size: 20px;
      font-weight: 700;
    }

    .judul-image-portfolio .deskripsi-portfolio {
      font-size: 14px;
    }

    .deskripsi-panjang {
      font-size: 40px;
      text-align: justify;
    }

    .jasa {
      background: linear-gradient(to right, cyan, #1cb5e0);
    }

    .hubungi_kami {
      background: radial-gradient(circle at top left, cyan, #1cb5e0);  
    }

    .card-paket {
      box-shadow: 2px 7px 15px gray;
    }

    .card-paket:hover {
      background-color: dodgerblue;
      color: white;
    }

  